* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  background-color: #FDF8F2 !important;
  color: #2C1810;
  font-family: 'Inter', sans-serif;
  color-scheme: light !important;
}